<div class="row" >
  <div class="col-md-6" >
    <div ng-show="options.displayCounts">
      {{ countMessage }}
    </div>
  </div>
  <div class="col-md-6" ng-hide="options.disableSearch">
    <input class="search-query pull-right" placeholder="Search" ng-model="query">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <!--Body content-->
    <table class="table table-striped table-condensed table-hover">
      <thead>
        <tr>
          <th ng-show="options.selectAll"><a ng-click="toggleSelectAll()" ng-model="selectAll">{{selectAll}}</a></th>
          <th ng-repeat="column in options.columns">{{column.header}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in pagedItems[currentPage]" 
            ng-click="selectRow(item)" 
            gi-dt-item item="item" 
            columns="options.columns"
            ng-class="{info: item.selected}">
        </tr>
      </tbody>
      <tfoot>
        <td colspan="{{ options.columns.length }} ">
          <div class="pull-right">
            <ul class="pagination">
              <li ng-class="{disabled: currentPage == 0}">
                <a href ng-click="prevPage()">« Prev</a>
              </li>
              <li ng-repeat="n in range(currentPage)"
                  ng-class="{active: n == currentPage}"
                  ng-click="setPage(n)">
                <a href ng-click="setPage(n)" ng-bind="n + 1"></a>
              </li>
              <li ng-class="{disabled: currentPage == pagedItems.length - 2}">
                <a href ng-click="nextPage()">Next »</a>
              </li>
            </ul>
          </div>
        </td>
      </tfoot>
    </table>
  </div>
</div>